<!DOCTYPE html>
<html>
<head>
  <title>DrinkChewGuru Privacy Policy</title>
</head>
<body>
	This privacy policy sets out how DrinkChewGuru uses and protects any information that you give when you use this website.</br>
	It is a project developed for educational purpose to illustarate the usage of the feautures OpenID and OAuth and strictly doest not support a commercial based usage.<br/>
	
	<h3>What we collect </h3>
	We collect the following information of an user from Google/Facebook/Foursquare:
	
	1. First Name
	2. Last Name
	3. EmailId
	4. Google Identity URL
	5. Friends list from Facebook in order to send invitations to friends
	6. Push Calender appointments to Google Calender
	
	<h3>What we do with the information we gather</h3>
	We require this information to provide you a better service, in particualr for following reason,
	
	1. Internal record keeping
	
	<h3>Security</h3>
	We are committed to ensuring that your information is secure. Our site has nothing to do with user credentials and it doesn't store in our database. We are making use of Google's OpenID for providing login functionality trusting Google.
</body>
</html>