<%= render "shared/header" %>
<style type="text/css">
.submit input
{
	color: #000;
    background: #ffa20f;
    border: 2px outset #d7b9c9
	align: center
}
</style>

<div id="page">
	<div id="content">

	<div align="center">
		<h3 style="color:orange">Please login with Google Credentials. You will be prompted to login to google.</h3> </br> 
		<!--
		<%= form_tag("/openid/getOpenIdXRD", :method => "get") do %>
		  <%= image_submit_tag("signin_base.png", :id => "signInButton") %>
		<% end %>
		-->
		<form name="input" action="openid/getOpenIdXRD" method="get" class="submit">
			<input type="submit" value="Login With Google">
		</form>
		</br>
	</div>
</div>