We were able to link your profile to Facebook. As proof, here are some of your friends.
<table>
	<tr>
<% @responseJSON["data"].each do |person| %>
		<td><%= image_tag person["picture"]["data"]["url"], :alt => person["first_name"] %></td> 
<% end %>
	</tr>
	<tr>
<% @responseJSON["data"].each do |person| %>
		<td><%= person["first_name"] %></td> 
<% end %>
	</tr>
	<tr>
		<td><%= link_to "Click here to return to the tokens page", "/oauth/" %></td>
	</tr>
</table>